@font-face {
    font-family: "press-start-2p";
    src: url("./fonts/PressStart2P-Regular.ttf")  format("truetype");
}

:root {
  --color-custom-neutral: #4c414f,
  --color-custom-red: #7c3d46,
  --color-custom-green: #c4bf5e,
  --color-custom-yellow: #ebb23f,
  --color-custom-orange: #f76b2f,
}

html {
  cursor: default;
}

body {
  height: 100vh;
  width: 100vw;
  cursor: default;
  font-family: "press-start-2p", sans-serif;
  background-color: #212529;
  color: #fff;
}

button {
  cursor: pointer !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 2rem;
}

.shadow {
  box-shadow: 1.5rem 1.5rem 0px rgba(0, 0, 0, .9);
}

.border-black {
  border: 5px solid #000000;
}

.border-top {
  border-top: 5px solid #ffffff;
}

.border-bottom {
  border-bottom: 5px solid #ffffff;
}

