.default {
  --color-background-primary: #1b1b1b;
  --color-background-secondary: #2e2f48;
  --color-background-highlight: #3e3f58;

  --color-border: #000000;
  --color-shadow: #000000;

  --color-accent-1: #fa563c;
  --color-accent-2: #edee41;
  --color-accent-3: #964cad;

  --color-text-primary: #ffffff;
  --color-text-subdued: #cccccc;
  --color-text-accent-1: #ffffff;
  --color-text-accent-2: #000000;
  --color-text-accent-3: #ffffff;
}
