.default {
  --background-primary: #1a1a1a;
  --background-hover: #404040;

  --accent-1: #e91429;
  --accent-2: #ffa42b;
  --accent-3: #1ed760;

  --text-primary: #cccccc;
  --text-subdued: #a7a7a7;
  --text-accent-1: #1ed760;
  --text-accent-2: #1ed760;
  --text-accent-3: #1ed760;
}
